:root {
  --text-color: #f0f4f5;
  --background-color: black;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 12px 24px;
  color: var(--text-color);
}

.navbar_logo i {
  color: red;
}

.navbar_logo a {
  color: var(--text-color);
}

.navbar .navbar_search i {
  margin-left: 10px;
}

.video {
  position: sticky;
  top: 0;
  background: black;
  text-align: center;
}

.info {
  padding-left: 10px;
}

.tag {
  padding-left: 0;
  list-style: none;
  display: flex;
  margin-left: 0;
}

.tag li {
  padding-right: 10px;
  color: blue;
}

.titleAndButton {
  display: flex;
  justify-content: space-between;
}

.infoAndUpnext .info .metadata .titleAndButton .title {
  margin-right: 12px;
}

.infoAndUpnext .info .metadata .titleAndButton .title.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.info .metadata .titleAndButton .moreBtn {
  height: 100%;
  transition: transform 300ms ease-in-out;
}

.info .metadata .titleAndButton .moreBtn.clicked {
  transform: rotate(180deg);
}

.titleAndButton .moreBtn {
  background-color: transparent;
  border: none;
}

.titleAndButton .moreBtn:hover {
  background-color: transparent;
}

.video_info {
  font-size: 12px;
  color: gray;
}

.info_icons {
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: gray;
  text-align: center;
  padding-left: 0;
}

.info_icons i.active {
  font-size: blue;
}

.youtuber_infos {
  display: flex;
  justify-content: space-between;
}

.youtuber_info {
  display: flex;
  align-items: center;
}

.youtuber_name {
  padding-left: 10px;
}

.subscribe_Btn {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 15px;
  text-transform: uppercase;
}

.upnext {
  list-style: none;
  padding-left: 10px;
}

.upnext li {
  display: flex;
  align-items: center;
}

.upnext [class$="info"] div:nth-last-of-type(-n+2) {
  color: gray;
  font-size: 12px;
}

.upnext .image {
  margin-right: 10px;
}

.info_icons li button {
  border: none;
  background-color: transparent;
}

.info_icons li button i {
  font-size: 15px;
  color: grey;
}

.infoAndUpnext {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .infoAndUpnext {
    flex-direction: row;
    margin: 12px 0;
  }
}
