:root{
 /* color */
 --ivory-color: #eee6c4;
 --grey-color: #808080;
 --black-color: #202020;
 --white-color: #f8ffff;

 /* padding size */
 --padding-big-size: 15px;
 --padding-size: 20px;
 --padding-small-size: 5px;
 
 /* font size */
 --font-size: 14px;
 --font-big-size: 50px;
 --font-medium-size: 25px;
}

/* All */
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  /*background: var(--black-color);*/
}

li {
  list-style: none;
}

button,
button:focus {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
}

/* logo */
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--padding-size);
  
}

.logo img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding-bottom: var(--padding-small-size);
}

.logo .logoName {
  font-weight: bolder;
  font-size: var(--font-medium-size);
}

/* menu */
.menu ul { 
  display: flex;
  justify-content: space-around;
  margin-top: calc(var(--padding-big-size)*2);
  margin-bottom: calc(var(--padding-big-size)*2);
}

.menu li img {
  height: 50px;
  width: auto;
}

.menu [class$="Color"] {
  height: 50px;
  width: 50px;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size);
  font-weight: bold;
}

.menu .blackColor {
  background-color: var(--black-color);
}

.menu .greyColor {
  background-color: var(--grey-color);
}

.menu .ivoryColor {
  background-color: var(--ivory-color);
  color: var(--black-color);
}

/* items */
.item {
  border: 1px solid;
  display: flex;
  align-items: center;
  padding: var(--padding-size) var(--padding-small-size);
  font-size: var(--font-size);
  margin: var(--padding-size) var(--padding-small-size);
  /*background-color: var(--white-color*/
  height: 60px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.items .icon {
  padding-right: var(--padding-size);
  font-size: var(--font-medium-size);
  /*background-color: var(--white-color);*/
}

.items li:nth-child(3n) .icon {
  color: var(--red-color);
}

.items li:nth-child(3n+1) .icon {
  color: var(--yellow-color);
}

.items li:nth-child(3n+2) .icon {
  color: var(--blue-color);
}
